<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Homepage</title>
</head>
<body>
<h1>Profile</h1>
<div>
    <p>I'm hosted with GitHub Pages.</p>
	<p>Click <a th:href="@{/about}">here</a> to learn more about me.</p>
	<p>Click <a th:href="@{/projects}">here</a> to see some of my projects.</p>
	<p>Click <a th:href="@{/resume}">here</a> to see my resume at large.</p>
	<p>Click <a th:href="@{/contact}">here</a> to see my contact info.</p>
</div>
</body>
</html>